body {
    background: rgb(252, 252, 154);
    font: normal 15pt Arial;

}
h1 {
    text-shadow: 0 0 8px rgba(10, 10, 10, 0.386);
}
header {
    color: white;
    text-align: center;
    
}
select#lista {
    width: 130px;

}
section {
    background: rgba(255, 255, 255, 0.417);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(70, 223, 243, 0.386);
}
div {
    text-align: center;
    padding: 10px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
    text-shadow: 0 0 8px rgba(10, 10, 10, 0.386);
       
}